{% extends "base.html" %}

{% block content %}
<section class="hero-section">
    <div class="container">
        <h1 class="display-3 fw-bold mb-3 hero-text hero-text-delay-1">Skin Test</h1>
        <p class="lead mb-2 hero-text hero-text-delay-2">Find which colors make you look awesome and discover your Color Code.</p>
        <p class="hero-text hero-text-delay-3">Join over 1.6 million developers around the world</p>
        <button class="btn-mulai">
            Mulai Sekarang
            <span class="icon">
                <i class="fas fa-arrow-right"></i>
            </span>
        </button>
    </div>
</section>

<section class="stats-section">
    <div class="container">
        <div class="section-title">
            <h3>Personal Pallet Designer</h3>
            <p>Create a virtual color profile(s) for yourself or your favorite celebrities. Click one of the palettes below to try it</p>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="stat-card">
                    <h3 class="stat-title">Clear Winter</h3>
                    <img src="{{ url_for('static', filename='images/clear-winter.png') }}" alt="Stat Image 1" class="stat-image" />
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="stat-card">
                    <h3 class="stat-title">Cool Winter</h3>
                    <img src="{{ url_for('static', filename='images/cool-winter.png') }}" alt="Stat Image 2" class="stat-image" />
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="stat-card">
                    <h3 class="stat-title">Deep Winter</h3>
                    <img src="{{ url_for('static', filename='images/deep-winter.png') }}" alt="Stat Image 3" class="stat-image" />
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="stat-card">
                    <h3 class="stat-title">Soft Summeer</h3>
                    <img src="{{ url_for('static', filename='images/soft-summer.png') }}" alt="Stat Image 3" class="stat-image" />
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="stat-card">
                    <h3 class="stat-title">Cool Summeer</h3>
                    <img src="{{ url_for('static', filename='images/cool-summer.png') }}" alt="Stat Image 3" class="stat-image" />
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="stat-card">
                    <h3 class="stat-title">Light Summeer</h3>
                    <img src="{{ url_for('static', filename='images/light-summer.png') }}" alt="Stat Image 3" class="stat-image" />
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="stat-card">
                    <h3 class="stat-title">Clear Spring</h3>
                    <img src="{{ url_for('static', filename='images/clear-spring.png') }}" alt="Stat Image 3" class="stat-image" />
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="stat-card">
                    <h3 class="stat-title">Warm Spring</h3>
                    <img src="{{ url_for('static', filename='images/warm-spring.png') }}" alt="Stat Image 3" class="stat-image" />
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="stat-card">
                    <h3 class="stat-title">Light Spring</h3>
                    <img src="{{ url_for('static', filename='images/light-spring.png') }}" alt="Stat Image 3" class="stat-image" />
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="stat-card">
                    <h3 class="stat-title">Soft Autumn</h3>
                    <img src="{{ url_for('static', filename='images/soft-autumn.png') }}" alt="Stat Image 3" class="stat-image" />
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="stat-card">
                    <h3 class="stat-title">Warm Autumn</h3>
                    <img src="{{ url_for('static', filename='images/warm-autumn.png') }}" alt="Stat Image 3" class="stat-image" />
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="stat-card">
                    <h3 class="stat-title">Deep Autumn</h3>
                    <img src="{{ url_for('static', filename='images/deep-autumn.png') }}" alt="Stat Image 3" class="stat-image" />
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}